.container  {
  background-color: rgb(50, 61, 61);
  padding: 20px;
  margin: 8px;
  position: relative;
}

.header {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: orange solid;
  background-color: rgba(0, 0, 0, 0.527);
}

.inner {
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
}

.button    {
  position: absolute;
  padding: 2px;
  text-decoration: none;
  border: solid;
  right: 30px;
  top: 88px;
  color: orange;
  background-color: black;

}

.button:hover {
  background-color: orange;
  color: black;
  border: solid orange;
}

