.container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 1000;
  width: 100%;
  background-color: black;
  opacity: 80%;
}

.modalContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1001;
  width: 1400px;
}

.modalContainerInner {
  border: solid red;
  background-color: rgb(50, 61, 61);
  padding: 15px;
  text-align: right;
}

.header {
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

