.container {
  background-color: rgb(50, 61, 61);
  padding: 20px;
  margin: 8px;
}

.header    {
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: orange solid;
}

.inner {
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
}

.button    {
  padding: 2px;
  text-decoration: none;
  border: solid;
  right: 5px;
  top:6px;
  color: orange;
  background-color: black;
  margin-left: 10px;
}

.button:hover {
  background-color: orange;
  color: black;
  border: solid orange;
}

input {
  border: black solid;
}